@import "@fontsource-variable/roboto";
@import "tailwindcss";

:root {
  color-scheme: light dark;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}
html {
 font-family: 'Roboto Variable', sans-serif;  scroll-behavior: smooth;
}